PORT=3040

# Filled with docker-compose-local-postgres-redis.yml data
TYPEORM_DATABASE_NAME=apigive
TYPEORM_DATABASE_USER=postgres
TYPEORM_DATABASE_PASSWORD=postgres
TYPEORM_DATABASE_HOST=127.0.0.1
TYPEORM_DATABASE_PORT=5443

# Filled with docker-compose-local-postgres-redis.yml data
REDIS_HOST=127.0.0.1
REDIS_PORT=6490
REDIS_PASSWORD=

SEGMENT_API_KEY=FAKE_API_KEY
ORTTO_API_KEY=FAKE_API_KEY
QACC_ORTTO_API_KEY=FAKE_API_KEY
ORTTO_ACTIVITY_API=https://api-us.ortto.app/v1/activities/create

#JWT_AUTHORIZATION_ADAPTER=siweMicroservice
JWT_AUTHORIZATION_ADAPTER=mock
AUTH_MICROSERVICE_AUTHORIZATION_URL=

HOSTNAME_WHITELIST=next.giveth.io,www.next.giveth.io,staging.giveth.io,www.staging.giveth.io,localhost,giveth.io,vercel.app,www.giveth.io


EMAIL_ADAPTER=mock
#EMAIL_ADAPTER=ortto
